@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #8b6441;
  overflow-x: hidden;
  letter-spacing: 1.5px;
}

.font {
color: #801a1a
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}
.bounce {
  animation: bounce 2.5s normal both infinite;
}


@media screen and (min-width: 768px) and (max-width: 1605px) {
  .width-dogs{
   color: white
  }
}
