@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #222831;
  overflow: hidden;
  letter-spacing: 1.5px;
  scroll-behavior: smooth;
  color: white;
  border: 1.5vmin double;

}

@media screen and (min-width: 0px) and (max-width: 750px) {
  .sm-heading {
    font-size: 25px;
  }

  .sm-text {
    font-size: 20px;
  }

  .sm-contact-text {
    font-size: 20px;
  }

  .sm-white-text {
    font-size: 22.5px;
    color: rgb(156, 154, 154)
  }
}

@media screen and (min-width: 750px) and (max-width: 1540px) {
  .md-text {
    font-size: 32px;
  }

  .md-contact-text {
    font-size: 22px;
  }

  .md-white-text {
    font-size: 38px;
    color: rgb(156, 154, 154)
  }
}

@media screen and (min-width: 1540px) and (max-width: 2000px) {
  .lg-white-text {
    font-size: 40px;

  }

  .lg-contact-text {
    font-size: 25px;
  }

  .lg-text {
    font-size: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1250px) {
  .md-text-2 {
    font-size: 25px;
  }

  .session-text-hide {
    display: none;
  }

  .session-text-show {
    display: flex;
    color: white;
  }
}

@media screen and (min-width: 768px) and (max-width: 1110px) {
  .session-text-hide-two {
    display: none;
  }

  .session-text-show-two {
    display: flex;
    padding-bottom: 6rem;
  }

  .border-top {
    border-top: 1px solid rgb(17, 24, 39);
    color: white;
  }
}
